    .messagecontainer {
          width: 900px;
          height: 1000px;
          background-color: #141414;
          color: white;
          display: flex;
          flex-direction: column;
      }

      .messagetitle {
          font-size: 24px;
          margin-top: 10px;
          margin-left: 10px;
      }

      .messagediscussion {
          display: flex;
          width: 900px;
          align-items: center;
          justify-content: space-around;
          margin-top: 20px;
          padding: 10px;
          box-sizing: border-box;
      }
/*  */
      #handsome {
          height: 40px;
          width: 40px;
          border-radius: 40px;
          /* border-color: green; */
          /* background-color: green; */
          background-image: url('../image/picuser.webp');
          margin-right: 5px;
          background-size: cover;
      }

      .avatar {
          width: 50px;
          height: 50px;
          border-radius: 50%;
          background-color: white;
          margin-right: 10px;
      }

      .input-container {
          width: 800px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: space-between;
          border-radius: 20px;
          overflow: hidden;
          background-color: #333;
      }

      .comment-input {
          width: calc(100% - 100px);
          height: 100%;
          /* margin-right: 10px; */
          /* display: inline-block; */
          padding: 10px;
          border: none;
          background-color: transparent;
          color: white;

      }

      .handle {
          /* height: 40px; */
          /* width: 10px; */
          background: transparent;
      }

      .submit-button {
          /* display: inline-block; */
          width: 100px;
          height: 100%;
          /* background-color: gray; */
          background: transparent;
          border: none;
          color: white;
          cursor: pointer;
          /* outline: none; */
      }

      .comments {
          display: flex;
          flex-direction: column;
          margin-top: 20px;
          /* background-color: red; */
      }

      .messagecomment {
          width: 900px;
          background-color: #333;
          padding: 10px;
          box-sizing: border-box;
          margin-top: 10px;
      }

      .messagecomment .user-info {
          display: flex;
          align-items: center;
          margin-bottom: 5px;
      }

      .messagecomment .user-info img {
          width: 30px;
          height: 30px;
          border-radius: 50%;
          margin-right: 10px;
          background-color: pink;
      }

      .messagecomment .user-info .username {
          font-weight: bold;
          margin-right: 10px;
      }

      .messagecomment .user-info .time {
          font-size: 12px;
          color: gray;
      }

      .messagecomment .content {
          margin-left: 40px;
      }

