.svediocontainer {
    width: 290px;
    height: 170px;
    /* background-color: black; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3px;
}

.svediobox {
    margin-top: 3px;
    background-color: rgba(255, 255, 255, 0.1);
}

.svediotitle {
    color: white;
    font-weight: 700;
    margin-bottom: 1px;
    font-size: 16px;
}

.svediobutton-container {
    display: flex;
}

.svediobutton {
    width: 50px;
    height: 14px;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 7px;
    cursor: pointer;
    color: white;
    font-size: 12px;
    text-align: center;
}

.svediobutton:hover {
    background-color: aqua;
}

.svediobutton:last-child {
    margin-right: 0;
}

.svediocontent-box {
    height: 96px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.svedioitem {
    display: flex;
    align-items: center;
    width: 290px;
    height: 45px;
    margin-top: 3px;
}

.svedioimage {
    width: 100px;
    height: 45px;
    background-image: url('../image/jinbu.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
}


.svediotext {
    margin-left: 10px;
    color: white;
}

.svediogray-button {

    width: 270px;
    height: 15px;
    background-color: darkgray;
    text-align: center;
    line-height: 15px;
    color: white;
    font-size: 12px;
    border-radius: 8px;
}

.svediogray-button:hover {
    background-color: aqua;
}